<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>university</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'lib/flexible.js' %}"></script>
<link href="{% static 'list/css/list.css' %}" rel="stylesheet"></head>
<body class="app">
  <header>
    <div class="header-inner">
      <div class="logo">
        <span class="app-name">University Advisor</span>
        <em class="slogan">choose your future</em>
      </div>
      <nav class="side-nav">
        <a href="">Home</a>
        <a href="" class="active">Courses</a>
      </nav>
      <i class="iconfont icon-menu j-menu-btn menu-btn"></i>
    </div>
  </header>
  <div class="content">
    <div class="statistics">
      <h2>Viewing Providers</h2>
      <div>
        {% if filtered_institutions.count == 1 %}
        <p>{{filtered_institutions.count}} Result </p>
        {% else %}
        <p>{{filtered_institutions.count}} Results </p>
        {% endif %}
      </div>
    </div>
    <div class="content">
    <button class="btn back-btn" onclick="javascript:history.go(-1);">Back to search</button>
    </div>
    <div class="operation-wrap">
    </div>

    <!--div class="school-list">
      <div class="school-item show-program">
        <div class="school-name">University of Aberdeen</div>
        <ul class="program-list">
          <li class="program-item">
            <a href="../details" class="program-name">Engineering</a>
            <p class="program-desc">Bachelor of Engineering(with Honours)-BEng(Hon)</p>
          </li>
          <li class="program-item">
            <a href="../details" class="program-name">Engineering</a>
            <p class="program-desc">Master of Engineering(with Honours)-MEng(Hon)</p>
          </li>
          <li class="program-item">
            <a href="../details" class="program-name">Chemical Engineering</a>
            <p class="program-desc">Bachelor of Engineering(with Honours)-BEng(Hon)</p>
          </li>
        </ul>
      </div>
      <div class="school-item show-program">
        <div class="school-name">University of Aberdeen</div>
        <ul class="program-list">
          <li class="program-item">
            <a href="../details" class="program-name">Engineering</a>
            <p class="program-desc">Bachelor of Engineering(with Honours)-BEng(Hon)</p>
          </li>
          <li class="program-item">
            <a href="../details" class="program-name">Engineering</a>
            <p class="program-desc">Master of Engineering(with Honours)-MEng(Hon)</p>
          </li>
          <li class="program-item">
            <a href="../details" class="program-name">Chemical Engineering</a>
            <p class="program-desc">Bachelor of Engineering(with Honours)-BEng(Hon)</p>
          </li>
        </ul>
      </div>
      <div class="school-item show-program">
        <div class="school-name">University of Aberdeen</div>
        <ul class="program-list">
          <li class="program-item">
            <a href="../details" class="program-name">Engineering</a>
            <p class="program-desc">Bachelor of Engineering(with Honours)-BEng(Hon)</p>
          </li>
          <li class="program-item">
            <a href="../details" class="program-name">Engineering</a>
            <p class="program-desc">Master of Engineering(with Honours)-MEng(Hon)</p>
          </li>
          <li class="program-item">
            <a href="../details" class="program-name">Chemical Engineering</a>
            <p class="program-desc">Bachelor of Engineering(with Honours)-BEng(Hon)</p>
          </li>
        </ul>
      </div>
    </div-->

  </div>
  <footer>University Advisor © 2019</footer>
  <script type="text/javascript" src="{% static 'lib/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'list/js/list.js' %}"></script></body>
