<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>university</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'lib/flexible.js' %}"></script>
<link href="{% static 'list/css/list.css' %}" rel="stylesheet"></head>
<body class="app">
  <header>
    <div class="header-inner">
      <div class="logo">
        <span class="app-name">University Advisor</span>
        <em class="slogan">choose your future</em>
      </div>
      <nav class="side-nav">
        <a href="../../../../">Home</a>
        <a href="../../../../all/all/all/results" class="active">Courses</a>
        <a href="">Contact us</a>
      </nav>
      <i class="iconfont icon-menu j-menu-btn menu-btn"></i>
    </div>
    <div class="hide-nav j-hide-nav">
      <a href="../../../../">Home</a>
      <a href="../../../../all/all/all/results" class="active">Courses</a>
      <a href="">Contact us</a>
    </div>
  </header>
  <div class="content">
      {% if filtered_institutions %}
      <ul class="school-list">
      {% for institution in filtered_institutions %}
          <li class="school-name"><a href="/{{ institution.id }}/detail/">{{ institution.university_name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
        <p>No institutions are available.</p>
      {% endif %}
    <div class="pager">
      <ul class="pagination">
        <li class="pagination-item"><a href="" class="pagination-link pagination-link-first iconfont icon-first"></a></li>
        <li class="pagination-item"><a href="" class="pagination-link pagination-link-prev iconfont icon-prev"></a></li>
        <li class="pagination-item"><a href="" class="pagination-link">1</a></li>
        <li class="pagination-item active"><a href="" class="pagination-link">2</a></li>
        <li class="pagination-item"><a href="" class="pagination-link">3</a></li>
        <li class="pagination-item"><a href="" class="pagination-link">4</a></li>
        <li class="pagination-item"><a href="" class="pagination-link">5</a></li>
        <li class="pagination-item"><a href="" class="pagination-link">6</a></li>
        <li class="pagination-item"><a href="" class="pagination-link pagination-link-next iconfont icon-next"></a></li>
        <li class="pagination-item"><a href="" class="pagination-link pagination-link-last iconfont icon-last"></a></li>
      </ul>
    </div>
  </div>
  <footer>University Advisor © 2019</footer>
  <script type="text/javascript" src="{% static 'lib/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'list/js/list.js' %}"></script></body>
