<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'lib/flexible.js' %}"></script>
  <link href="{% static 'front/css/front.css' %}" rel="stylesheet"></head>
<body class="app">
  <header>
    <div class="header-inner">
      <div class="logo">
        <span class="app-name">University Advisor</span>
        <em class="slogan">choose your future</em>
      </div>
      <nav class="side-nav">
        <a href="./" class="active">Home</a>
        <a href="">Courses</a>
      </nav>
      <i class="iconfont icon-menu j-menu-btn menu-btn"></i>
    </div>
  </header>
  <div class="content">
    <h1 class="title text-center">EXPLORE YOUR OPTIONS...</h1>
    <div class="text-center select-wrap">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <footer>University Advisor © 2019</footer>
  <script type="text/javascript" src="{% static 'lib/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'front/js/index.js' %}"></script></body>
</html>
